<% if Purchase.all.count > 0 %>
  <div class="row admin-reports-container">
    <div class="form-group col-xs-12 col-md-12">
      <h4> Rewards Distribution Chart:</h4>
      <div id="rewards-distribution-container" style="height: 500px;"></div>
    </div>
    <div class="form-group col-xs-12 col-md-12">
      <h4> Reward Points Vs Loan Amount Comparison:</h4>
      <div id="rewards-comparison-container" style="height: 500px;"></div>
    </div>

  </div>

<% else %>
  <h6> You don't have any rewards statistics available.</h6>
<% end %>

<script type="text/javascript">
    new LEWARDS.AdminReports($('.admin-reports-container'));
</script>